Package: jp.r-plus.doublecut
Name: DoubleCut
Depends: mobilesubstrate, preferenceloader, firmware (>= 7.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: r_plus
Author: r_plus
Section: Tweaks
